<p id="notice"><%= notice %></p>

<h1>Schedule</h1>

<table class="table">
  <thead>
    <tr>
      <th>Week</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Player1 score</th>
      <th>Player2 score</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.week %></td>
        <td><%= Player.find_by( id: game.player1_id ).login %></td>
        <td><%= Player.find_by( id: game.player2_id ).login %></td>
        <td><%= game.player1_score %></td>
        <td><%= game.player2_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
