<% if notice %>
  <%= content_tag :p, notice %>
<% end %>
<% if logged_in? %>
  <%= content_tag :p, "Logged in as #{current_player.login}" %>
<% else %>
  <div class="center">
    <%= link_to  "Join League!", new_player_path %>
  </div>
<% end %>

<table class="table">
  <tr>
    <th>Player</th>
    <th>Nickname</th>
    <th>Games Won</th>
    <th>Games Lost</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.login %></td>
      <td><%= player.wins %></td>
      <td><%= player.losses %></td>
    </tr>
<% end %>
</table>

<div class="center">
  <% if logged_in? %>
    <%= link_to "Your page", player_path(current_player) %> |
    <%= link_to "Your games", root_path %>
    <%= link_to "Report game", new_game_path %> |
    <%= link_to "Logout", players_logout_path, method: :delete %>
  <% else %>
    <%= render "login" %>
  <% end %>
</div>