<% if notice %>
  <%= content_tag :p, notice %>
<% end %>
<% if logged_in? %>
  <%= content_tag :p, "Logged in as #{current_player.login}" %>
<% end %>

<% @players.each do |player| %>
  <p><%= player.name %> <%= player.login %></p>
<% end %>

<% if logged_in? %>
  <%= link_to "Edit", edit_player_path(current_player) %> |
  <%= link_to "Logout", players_logout_path, method: :delete %>
<% else %>
  <%= link_to  "Join League!", new_player_path %>
  <%= render "login" %>
<% end %>